{% extends 'galeria/base.html' %}
{% load static %}

{% block content %}


        <main class="principal-contato">

            {% include 'galeria/partials/_menu.html' %}
            
            <section>
                <form class="formularioContato" action="#" method="post" enctype="multipart/form-data">
                    <div class="input-row">
                        <label>
                            <span><i class="icon icon-user-1"></i> Nome</span>
                            <input type="text" name="nome" required="" class="form-input" placeholder="Ex.: João Silva" required>
                        </label>
                        <label>
                            <span><i class="icon icon-email"></i> E-mail</span>
                            <input type="email" name="email" class="form-input" placeholder="Ex.:joaosilva@123.com" required>
                        </label>
                    </div>

                    <div class="input-row">
                        <label>
                            <span><i class="icon icon-flag"></i> Telefone</span>
                            <input type="tel" name="telefone" required="" class="form-input" placeholder="Ex.: (99) 99999-9999" required>
                        </label>
                        <label>
                            <span><i class="icon icon-flag"></i> Assunto</span>
                            <input type="text" name="assunto" required="" class="form-input" placeholder="Ex.: Digite o assunto" required>
                        </label>
                    </div>

                    <label>
                        <span><i class="icon icon-comment"></i>Mensagem</span>
                        <textarea name="mensagem" rows="6" required="" class="form-input-textarea" required></textarea> 
                    </label>

                    <input type="hidden" name="acao" value="enviar" />
                    <button class="btn-envia" title="Enviar"><b> Enviar</b></button>
                
                </form>
            </section>

{% endblock %}